.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
  right: 310px;

  /* your code here */
}

#bulbasaur {
  top: 20px;/* your code here */
}

#charmander {
  top: 40px;

  /* your code here */
}

#squirtle {
  top: 90px;

  /* your code here */
}

#pikachu {
  top: 157px;

  /* your code here */
}

#jigglypuff {
  top: 300px;

  /* your code here */
}
